.hero {
  width: 100%;
}

.port img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  object-position: center;
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 90%);
  mask-image: linear-gradient(to bottom, black 40%, transparent 90%);
}

.contenidoPortada {
  text-align: center;
  color: #000000;
}

.contenidoPortada p {
  margin: 0 auto;
  width: 50%;
  font-size: 60px;
}

.contenidoPortada small {
  font-size: 20px;
  color: #000000;
}

.botones {
  padding: 20px;
  gap: 10px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.contacto {
  padding: 10px 50px;
}

button i {
  font-size: 30px;
}

.redes {
  padding: 1px 6px;
}

.separador {
  height: 100dvh;
  margin-top: 70px;
  display: flex;

  align-items: end;
  justify-content: center;
  text-align: center;

  position: relative;
  width: 100%;
  background-image: url("../../assets/img/salon/ORQ2-32.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.separador2 {
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  padding-bottom: 80px; /* espacio para que el círculo no corte */
  text-align: center;
}

.contenido {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.circulo {
  position: absolute;
  left: 50%;
  bottom: -50px; /* sobresale del fondo blanco */
  transform: translateX(-50%);
  background-color: #000;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.circulo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
}

.contenidoBlanco {
}

.contenidoBlanco img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.salonA {
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .port img {
    height: 350px;
    object-fit: cover;
  }

  .contenidoPortada p {
    width: 100%;
    font-size: 30px;
  }

  .contenidoPortada small {
    font-size: 15px;
    color: #000000;
  }

  .botones button {
    font-size: 12px;
  }

  .contacto {
    padding: 10px 20px;
  }

  button i {
    font-size: 25px;
  }

  .redes {
    padding: 1px 6px;
  }

  @keyframes moveB {
    0% {
      scale: 0;
      opacity: 0;
      transform: translateY(1000px);
    }

    40% {
      scale: 1;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
